.container_form {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
}

form {
    width: 100%;
}

.input_name {
    border: 1px solid #e5e7eb;
    padding: 0.75rem;
    padding-left: 2.5rem;
    background-color: #e5e7eb;
    width: 100%;
    box-sizing: border-box;
}

.input_pass {
    border: 1px solid #e5e7eb;
    padding: 0.75rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    background-color: #e5e7eb;

    width: 100%;
    box-sizing: border-box;
}

.icon_inp {
    position: absolute;
    left: 0.75rem;
    top: 1.3rem;
    transform: translateY(-50%);
    color: #9ca3af;
}

.icon_input {
    position: absolute;
    left: 0.75rem;
    top: 1.3rem;
    transform: translateY(-50%);
    color: #9ca3af;
}

.space-y-4 > *:not(:last-child) {
    margin-bottom: 16px;
}

.visible_btn {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.visible_btn:focus {
    outline: none;
}

.login-btn {
    background-color: #2563eb;
    color: white;
    padding: 8px 16px;
    width: 100%;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.login-btn:hover {
    background-color: #1d4ed8;
}
