/* Search Box */

.search-box {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.search-box input {
    flex: 1;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.search-box button {
    height: 50px;
    padding: 0 20px;
    border-radius: 10px;
    font-size: 16px;
}

/* Tabel */
.table {
    margin-top: 10px;
}

.table th {
    background: #f8f9fa;
    text-align: center;
}

.table td {
    text-align: center;
}

/* Status */
.status-paid {
    background: #dff6dd;
    color: #29a745;
    padding: 5px 10px;
    border-radius: 8px;
    font-weight: bold;
}

/* Warna row sudah bayar */
.paid {
    background: #e9f2ff;
}
